<h1>Customer Name: <%= @customer.name %></h1>

<h1> Customer Items: </h1>

<% @customer.items.each do |item| %>
  <p>Item name: <%= item.name%></p>
  <p>Price: <%= item.price%></p>
  <p>Supermarket name: <%= item.supermarket_name%></p>
<% end %>


<h3>Add Item</h3>

<%= form_with(url: "/customers/#{@customer.id}/items", method: :post) do |form| %>
  <%= form.label :item_id %>
  <%= form.number_field :item_id %>

  <%= form.submit 'Submit' %>
<% end %>

