<h1><%= @customer.name %></h1>

<h2>Items Purchased</h2>
<ul>
  <% @customer.items.each do |item| %>
    <div id="item-<%=item.id%>">
      <li><%= item.name%>: $<%= item.price %> from <%= item.supermarket.name %></li>
    </div>
  <% end %>
</ul>