<h3><%= @customer.name %></h3>
<% @customer.items.each do |item| %>
<div id="item-<%=item.id%>">
  <h4><%= item.name %></h4>
  <h5><%= item.price %></h5>
  <h5><%= item.supermarket.name %></h5>
 </div> 
<% end %>
<div id="add_item">
<h4>Add Item to Customer</h4>
  <%= form_with url: "/customers/#{@customer.id}/add_item", method: :post, data: {turbo: false} do |f| %>
    <%= f.label :item_id %>
    <%= f.text_field :item_id %>
    <%= f.submit "Submit", formmethod: :post %>
  <% end %>
</div>

