<h1><%=@customer.name%>'s Items</h1>
<%@customer.items.each do |item|%>
    <div id="item-<%= item.id %>">
        <h3><%=item.name%></h3>
        <ul>
            <li>Price: $<%=item.price%></li>
            <li>Supermarket: <%=item.supermarket_name%></li>
        </ul>
    </div>
<%end%>